openai
fastapi
black
isort
websockets
pydantic
langchain==0.0.161
uvicorn
jinja2
faiss-cpu
bs4
unstructured
libmagic
rich~=13.3.2
python-dotenv==1.0.0
memphis-py==1.0.1
pymilvus
tiktoken
sqlalchemy==2.0.12
oss2==2.17.0
