openai
fastapi~=0.95.1
black
isort
websockets
pydantic~=1.10.7
langchain==0.0.162
uvicorn~=0.22.0
jinja2
faiss-cpu
bs4~=0.0.1
unstructured==0.6.4
libmagic
rich~=13.3.2
python-dotenv==1.0.0
memphis-py==1.0.1
pymilvus
tiktoken
sqlalchemy==2.0.12
starlette~=0.26.1
asyncio~=3.4.3
numpy~=1.23.5
beautifulsoup4~=4.12.2